<!-- Aqui inserimos as partials -->

<!--- Para inserir dados no Ejs utilizamos o <%-  %>  -->

<!---E aqui passamos um parâmetro para a partial que será um objeto com o título da página-->
<%- include('../layouts/header', {title: 'Nova Tarefa'}) %>

<%- include('../layouts/menu') %>

<section class="section">
    <div class="container">
      <h1 class="title size-4">Nova Tarefa</h1>
        
      <form method="post" action="/checklists/<%= checklistId %>/tasks">
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
                <input class="input" type="text" name="task[name]" placeholder="Lista de Tarefas" value="<%= task.name %> ">
                <!-- Aqui verificamos se o error passado nas rotas foi recebedio e se foi se tem a propriedade name, e no parágrafo abaixo inserimos a mensagem de erro -->
                <% if(task.error && task.error.hasOwnProperty('name')) { %>
                    <p class="is-danger help"><%= task.error.name.message %></p>
                <% } %>
            </div>
        </div>
        <button type="submit" class="button is-success">Salvar</button>
        <a href="/checklists/<%= checklistId %>" class="button">Cancelar</a>
    </form>
    </div>
  </section>

<%- include('../layouts/footer') %>